#ignore Experiments folder
Experiments/
#ignore class and .out files
*.class
*.out

#ignore multimedia files 
*.mp3
*.mp4
*.svg
*.png
*.jpeg
*.jpg

#ignore jaw and war zip tar
*.war
*.jar
*.zip
*.tar

#ignore datasets
*.csv
