*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
}

body{
	margin: 10px;
	margin: 10px;
	background: url(../img/bg.png);
}

.header{
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.6);
	height: 100px;
	display: block;
	/*background: linear-gradient(to right, rgb(200,200,200), rgb(225,225,225));*/
	background-color: rgb(245,245,245);
	padding:5px;
	margin: 2px;
	color: #000;
}

.title{
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	display: block;
	padding:5px;
	margin: 5px;
	color: #000;
}
.logo{
	line-height: 100px;
	float: left;
}
.menu{
	float:right;
	line-height: 100px;
	min-width: 160px;
}
.menu a{
	color: #000;
	/*text-transform: uppercase;*/
	text-decoration: none;
	padding: 0 15px;
	transition: 0.4s;
	margin-left: 10px;
}
.menu a:hover{
	color: #3498db;
	border-radius: 20px;
	display: inline-block;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	background-color: rgb(255,255,255);
}
.imgbox{
	 height:150px;
	 width:200px;
	 border: #000000 6px outset;
}
.button {
    border: 1px solid #D1590E;
	border-radius: 10px;
	color: black;
	padding: 20px;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
}

.button:hover{
	background-color: #D1590E;
	box-shadow: 0 0 25px rgba(0,0,0,1);
	color:white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	border-radius: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /*min-width: 100px;*/
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 8px 12px;
  z-index: 1;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  display: inline-block;
  
  /* border: 1px solid black; */
}
.dropdown-content a:hover {
	background-color: rgb(255,255,255);
	display: block;
}

.txtbox {
	/*background: linear-gradient(to right, rgb(0,0,0), rgb(225,225,225));*/
	background-color: rgb(240,240,240);
	color: black;
	width: 800px;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,1);
	padding: 50px;
	margin: 20px;
}
.txtbox:hover{
	background-color: rgb(255,255,255);
}
.txtbox .justify{
	text-align: justify;
	font-size: 20px;
}
.txtbox ul{
	padding-left:3.5vh;
	text-decoration: none;
}
.imgbox{
	background-color: rgb(245,245,245);
	border-radius: 5px;
	color: black;
	border: 1px solid black;
	box-shadow: 0 0 10px rgba(0,0,0,1);
}

audio{
	/* border: 1px solid rgb(0, 255, 64); */
	min-height: 5vh;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #D1590E;
}

audio:hover{
	box-shadow: 0 0 20px rgba(0,0,0,1);
}